<div class="index-content" *ngIf="status">
  <div class="content">
      <div class="search">
              <mat-form-field class="form-mat-child">
                      <input matInput placeholder="{{'From?' | translate}}" [(ngModel)]="cityFrom" >
                </mat-form-field>
              <mat-form-field class="form-mat-child">
                <input matInput placeholder="{{'To?' | translate}}" [(ngModel)]="cityDest" >
                </mat-form-field>
                <mat-form-field color="accent" class="form-mat-child">
                    <input matInput [matDatepicker]="picker4" [min]="mindate" placeholder="{{'dateFrom' | translate}}" [(ngModel)]="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
            <mat-form-field  class="form-mat-child">
                <mat-select placeholder="Select">
                    <mat-option value="option">
                        Option
                      </mat-option>
                   </mat-select>
              </mat-form-field>
 
      <mat-button-toggle  class="recomends-content" (click)='find()'>{{'searching' | translate}}</mat-button-toggle>
    </div>
    </div>
    </div>
