<div class="index-content" *ngIf="status">
    <div class="content">
        
        <div class="search">
                <mat-form-field class="form-mat-child">
                        <input type="text" [matAutocomplete]="auto"  matInput placeholder="{{'city' | translate}}" [(ngModel)]="city">
                        <mat-autocomplete #auto="matAutocomplete">
                            <div *ngFor="let option of cityCollection | async" >
                                <mat-option [value]="option.cityName">
                                  {{option.cityName}}
                                </mat-option>
                                </div>
                              </mat-autocomplete>
                </mat-form-field>
            <mat-form-field color="accent" class="form-mat-child">
                <input matInput [matDatepicker]="picker1" [min]="minDate" placeholder="{{'checkIn' | translate}}" [(ngModel)]="checkIn" [formControl]="serializedDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field color="accent" class="form-mat-child">
                <input                          
                matInput [matDatepicker]="picker2" [min]="checkIn" placeholder="{{'checkOut' | translate}}" [(ngModel)]="checkOut" [formControl]="serializedDate" ng-disabled="disabled">
                <mat-datepicker-toggle matSuffix  [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary" #picker2 disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field  class="form-mat-child">
                  <mat-select placeholder="Select">
                      <mat-option value="option">
                          Option
                        </mat-option>
                     </mat-select>
                </mat-form-field>
            </div>
        <mat-button-toggle (click)="GoMap()">map</mat-button-toggle>

        <mat-button-toggle  class="recomends-content"  (click)='find()'>{{'searching' | translate}}</mat-button-toggle>

            <div class="recomends-content">
              {{'popularDest' | translate}}
            </div>
            <mat-grid-list cols="6" rowHeight = "200px">

            <ng-container *ngFor="let post of cityCollection|async">

                <mat-grid-tile [colspan]=2 [rowspan]=1>

            <div class="recomends-content" (click)="findbyCity(post.cityName)">
                <div class="recomend-hotels">
                    <div class="recomend-hotels-image">
                        <img src="{{post.image ?'https://drive.google.com/uc?export=view&id='+post.image : 'https://drive.google.com/uc?export=view&id=1jC7zuqnV23XH-AEVlrA9BrQ9RXt_ft_8'}}" alt="">
                        <h2>{{post.cityName}}:<br />{{post.country}}</h2>
                    </div>
                </div>

            </div>
            </mat-grid-tile>

        </ng-container>

    </mat-grid-list>
        </div>
       
    

</div>
