<section class="search_bar">
  <div class="row" style="padding-bottom: 10px;">
    <div style="padding-right: 15px;">
      <input type="radio" name="Way" value="Return" checked="checked"> Return
    </div>
    <div>
      <input type="radio" name="Way" value="OneWay"> One way
    </div>
  </div>

  <div class="row" style="padding-bottom: 20px;">
    <div class="col">
      <input style="padding-right: 70.5%;" type="text" class="searchTerm" placeholder="From city, station or Airport">
    </div>

    <div class="col">
      <input style="padding-right: 50%;" type="text" class="searchTerm" placeholder="To city, station or Airport">
    </div>
  </div>


  <div class="row">
    <div class="col-3">
      Fly Out
      <input class="searchDate" type="date" name="departureDat" id="departureDate">
    </div>

    <div class="col-3">
      Fly back
      <input class="searchDate" type="date" name="arrivalDate" id="arrivalDate">
    </div>

    <div class="col-3" align="left">
      Passangers
      <select class="selectpicker" data-width="fit">
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
        <option value="eight">8</option>
        <option value="nine">9</option>
      </select>
    </div>


    <div class="button_cont col-2">
      <a class="searchButton" href="/reisy" target="_blank" rel="nofollow noopener">Search</a>
    </div>
  </div>

</section>
