<div id="register-form" class="container">
  <form  [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)" class="modal-content animate" >
    <div class="container-form">
      <h1>Sign Up</h1>
      <p>Пожалуйста, заполните форму для регистрации аккаунта.</p>
      <label for="register-username"><b>User name</b></label>
      <input id="register-username" type="text" class="ng-invalid"
             placeholder="Введите имя пользователя" formControlName="userName" required>
      <div *ngIf="errorLogin"
           class="cross-validation-error-message alert alert-danger">
        Пользователь с таким логином уже существует
      </div>

      <label for="register-email"><b>Email</b></label>
      <input id="register-email" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             placeholder="Введите Email" formControlName="email" required>

      <label for="first-name"><b>First name</b></label>
      <input id="first-name" type="text" placeholder="Введите Имя" formControlName="firstName" required>

      <label for="last-name"><b>Last name</b></label>
      <input id="last-name" type="text" placeholder="Введите Фамилию" formControlName="lastName" required>

      <label for="register-password"><b>Password</b></label>
      <input id="register-password" type="password" placeholder="Введите пароль" formControlName="hashPass" required>

      <label for="register-password-repeat"><b>Repeat Password</b></label>
      <input id="register-password-repeat" type="password" placeholder="Повторите пароль" formControlName="repeatPass" required>
      <div *ngIf="registerForm.errors?.nonIdenticalPassword"
           class="cross-validation-error-message alert alert-danger">
        Пароли не совпадают
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запомнить меня
      </label>
      <div class="row">
        <button type="submit" class="signupbtn" [disabled]="!registerForm.valid">{{ 'signup' | translate }}</button>
        <button type="button" class="cancelbtn" routerLink="/" >Cancel</button>
      </div>
    </div>
  </form>
</div>


