
    <mat-grid-list cols='4' rowHeight='150px'>
        <mat-grid-tile [colspan]="1"[rowspan]=1></mat-grid-tile>
        <mat-grid-tile [colspan]="2"[rowspan]=1>
            <mat-button-toggle-group>
                <mat-button-toggle (click)="selectHotel()">{{'hotels' | translate}}</mat-button-toggle>
                <mat-button-toggle (click)="selectTicket()">{{'trips' | translate}}</mat-button-toggle>
                <mat-button-toggle (click)="selectTour()">{{'tours' | translate}}</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]=1></mat-grid-tile>
    </mat-grid-list>

<app-hotelindex [status]="hotelStatus"></app-hotelindex>
<app-tour-index [status]="TourStatus"></app-tour-index>
<app-flightsindex [status]="TicketStatus"></app-flightsindex>
