

<div class="map" id="map">
    <div class="choiseTicket">

    </div>
    
</div>
<div class="search">
        <mat-form-field class="form-mat-child">
                <input type="text" [matAutocomplete]="auto"   matInput placeholder="{{'city' | translate}}" [(ngModel)]="city" >
                <mat-autocomplete #auto="matAutocomplete">
                    <div *ngFor="let option of CityResponse | async" >
                        <mat-option [value]="option.cityName">
                          {{option.cityName}}
                        </mat-option>
                        </div>
                      </mat-autocomplete>
        </mat-form-field>
        <button mat-button (click)="createTout()">Start</button>
</div>
<button mat-button id="marker"  (click)='fn()'>Kill Me</button>