<div class="map" id="map">    
</div>
<div class="search">
  <mat-card>
        <button  mat-button (click)="createTout()">reset Tour</button>
  </mat-card>
        <mat-card *ngIf="currentCity">
          Tour start in {{StartCity}}
        </mat-card>
        <mat-card *ngFor="let post of TripChoise">
         <mat-card-header> From: {{post.cityFrom}} ----> To:{{post.cityDest}}</mat-card-header>
         <mat-card-subtitle>Price: {{post.price}}</mat-card-subtitle>
        </mat-card>
        <mat-card *ngIf="currentCity">
        <button  mat-button (click)="Buy()">Buy</button>
      </mat-card>
</div>
<button id="marker"></button>

