<div *ngIf="status">
    <div class="content">
        <div class="search">
                <mat-form-field class="form-mat-child">
                        <input matInput placeholder="cityFrom" [(ngModel)]="cityFrom" >
                </mat-form-field>
                <mat-form-field class="form-mat-child">
                    <input matInput placeholder="cityto" [(ngModel)]="cityTo" >
            </mat-form-field>
              <mat-form-field color="accent" class="form-mat-child">
                <input matInput [matDatepicker]="picker2" placeholder="CheckOut Date" [(ngModel)]="DateOut">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>
              
        </div>
        <mat-button-toggle (click)="find()"> Find</mat-button-toggle>
</div>