<<<<<<< HEAD
.listimg{
    border-radius: 5%;
}
=======
.back{
  outline: 0;
  border: 0;
  font-size: 24px;
  margin-left: 1vh;
  min-width: 7vh;
  min-height: 7vh;
  border-radius: 50% 50%;
}
.back,
.back:active {
  outline: none;
}
>>>>>>> abfdd4f32f93f34749aecb472f60c2d7245f8d6e
