body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 1vh 0 3vh 0;
  border: none;
  background: #f1f1f1;
  display: flex;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.container-form{
  margin-left: 10%;
}
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #12a937;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
.btn{
  background-color: #fafffb;
  color: #20222c;
  opacity: 0.9;
  margin-right: 0.5vw;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  width: auto;
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  margin-bottom: 2vh;
  width: 40%;
  float: left;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.error{
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.restorePassword{
  cursor: pointer;
  text-decoration: underline;
  color: #1D1A8A;
  font-size: 20px;

}
.restore-container{
  margin-bottom: 1vh;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.animate {
  -webkit-animation: animatezoom 1s;
  animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
