<div id="login-form" class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)"
        class="modal-content animate" method="post">
    <div class="container-form">
      <h1>{{'login' | translate}}</h1>
      <p>Пожалуйста, введите данные для входа в учётную запись</p>
      <label for="login-username"><b>Username</b></label>
      <input id="login-username" type="text" placeholder="Введите Имя Пользователя" formControlName="username" name="username" required>
      <div *ngIf="errorLogin"
           class="cross-validation-error-message alert alert-danger">
        Неверный логин
      </div>

      <label for="login-password"><b>Password</b></label>
      <input id="login-password" type="password" placeholder="Введите пароль" formControlName="password" name="password" required>
      <div *ngIf="errorPassword"
           class="cross-validation-error-message alert alert-danger">
        Неверный пароль
      </div>
      <div *ngIf="errorLocked"
           class="cross-validation-error-message alert alert-danger">
        You're Locked
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
      <div class="row">
        <button class="signupbtn" type="submit">{{ 'login' | translate }}</button>
        <button type="button" routerLink="/" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</div>
