<button (click)="showLoginForm()" style="width:auto;" class="btn">{{'login' | translate}}</button>

<div id="login-form" class="modal" tabindex="-1" data-backdrop="true">

  <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)"
        class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login-form').style.display='none'" class="close" title="Закрыть">&times;</span>
    </div>

    <div class="container">
      <label for="login-username"><b>Username</b></label>
      <input id="login-username" type="text" placeholder="Введите Имя Пользователя" formControlName="username" name="username" required>
      <div *ngIf="errorLogin"
           class="cross-validation-error-message alert alert-danger">
        Неверный логин
      </div>

      <label for="login-password"><b>Password</b></label>
      <input id="login-password" type="password" placeholder="Введите пароль" formControlName="password" name="password" required>
      <div *ngIf="errorPassword"
           class="cross-validation-error-message alert alert-danger">
        Неверный пароль
      </div>
      <div *ngIf="errorLocked"
           class="cross-validation-error-message alert alert-danger">
        You're Locked
      </div>

      <div>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
      <div class="clearfix">
        <button class="signupbtn" type="submit">{{ 'login' | translate }}</button>
        <button type="button" (click)="hideLoginForm()" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</div>
