.bord{
    border: 3px solid red; /* Толщина рамки в пикселах,
                              тип границы (в данном случае сплошная линия) и
                              цвет линии */
    padding: 5px; /* Расстояние от текста до рамки */
   }
   
.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.checked {
  color: orange;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.col { 
    width: auto; /* Ширина блока */
    word-wrap: break-word; /* Перенос слов */ 
   }