button {
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.btn{
  background-color: #fafffb;
  color: #20222c;
}
.btn-success {
  margin-right: 2px;
}

button:hover {
  opacity:1;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
