<header class="header">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation" id="header">
    <a class="navbar-brand" href="#" role="banner">Aviasales 2.0</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О сайте</a>
        </li>
      </ul>

      <div class="row">
        <app-register *ngIf="!isActiveUser"></app-register>
        <app-login *ngIf="!isActiveUser"></app-login>
        <button *ngIf="isActiveUser" routerLink="/profile" class="btn">Profile</button>
        <app-logout *ngIf="isActiveUser"></app-logout>
      </div>
    </div>
  </nav>
</header>
