<header class="header">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
    <a class="navbar-brand" href="#" role="banner">Aviasales 2.0</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О сайте</a>
        </li>
      </ul>

      <app-register class="offset-md-8"></app-register>
      <app-login></app-login>

      <button routerLink="/profile" style="width:auto;" class="btn btn-success">Profile</button>

    </div>
  </nav>
</header>
