<header class="header">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation" id="header">
    <img routerLink="/" src="https://inta.pro/small/area/ru/icon-24-samoletostroenie-1.png" class="logo"/>
    <a class="navbar-brand" routerLink="/" role="banner">
      Aviasales 2.0
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">{{'Home' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">{{'About us' | translate}}</a>
        </li>
      </ul>

        <button *ngIf="!isActiveUser" routerLink="/register" class="btn" >{{'signup' | translate}}</button>
        <button *ngIf="!isActiveUser" routerLink="/login" class="btn">{{'login' | translate}}</button>

        <button *ngIf="isActiveUser" routerLink="/profile" class="btn">{{'profile' | translate}}</button>
        
        <app-logout *ngIf="isActiveUser"></app-logout>
        <button *ngIf="isActiveAdmin" routerLink="/admin" class="btn admin">{{'admin' | translate}}</button>

        <button (click)="en()" class="eng pull-right"></button>
        <button (click)="ru()" class="rus pull-right"></button>
    </div>
  </nav>
</header>
