body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
  }

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn{
  background-color: #fafffb;
  color: #20222c;
  opacity: 0.9;
  margin-right: 0.5vw;
  padding: 14px 20px;
}
.btn-success {
  margin-right: 2px;
}

button:hover {
  opacity:1;
}
#header {

}
.logo{
  max-height: 50px;
  outline: none;
}
.cancelbtn {
  width: auto;
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.eng, .rus {
  outline: 0;
  height: 5vh;
  width: 5vw;
  border: 0;
  padding: 0;
  background-size: contain;
}
.eng:visited,.rus:visited{
  border: 3px solid #00B4CC;
}
.admin{
  background-color: #ff4334;
  color: #f8fff7;
  margin-left: 35%;
  width: 5vw;
}
.eng {
  background: url(src/england.svg) no-repeat;
}
.rus {
  background: url(src/russia.svg) no-repeat;
}
