<mat-dialog-content>
      <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                  <input matInput matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1"   [min]="mindate" placeholder="CheckIn Date"formControlName="firstCtrl" required [(ngModel)]="checkIn">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                        <input matInput matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2"  [min]="checkIn ? checkIn : mindate" [(ngModel)]="checkOut"  placeholder="CheckOut Date"formControlName="firstCtrl" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button (click)="openSnackBar('Резервация прошла успешно!!!', 'Отлично!!!')" (click)="Reservetion()" >Reserv</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
      </mat-dialog-content>
