.center{
    margin: 2%;
width: 30%;
  background-color: white;
margin-left: 35%;
}
.pull-right{
    margin-right: auto;
}
.redactor{
    width: 20%;
}
.with{
    height: 10%;
}
img{
    width: 100%;
    height: 90%;
}
mat-card{
    margin: 5px;
}
