<div class="nice"><h1><span>Nice. Team</span></h1></div>
<div id="drag-container">
  <div id="spin-container">
    <img src="../../../assets/img/66622815_726768327776702_6623344959039373926_n.jpg" />
    <img src="../../../assets/img/photo_2019-02-12_11-17-42.jpg" />
    <img src="../../../assets/img/crazy.jpg"/>
    <img src="../../../assets/img/photo_2019-12-22_14-37-03.jpg" />
    <img src="../../../assets/img/photo_2019-12-22_15-38-59.jpg" />
  </div>
  <div id="ground"></div>
</div>









