<div class="container navigation">
  <button (click)="showAll()" type="button" class="btn btn-lg btn-primary">{{'all' | translate}} {{'companies' | translate}}</button>
  <mat-form-field appearance="outline">
    <mat-label>{{'search' | translate}}</mat-label>
    <input matInput placeholder="{{'type the login' | translate}}">
  </mat-form-field>
  <button type="button" class="btn btn-lg btn-info">{{'search' | translate}}</button>
</div>
<div class="container">
  <mat-accordion>
    <mat-expansion-panel class="add-company">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'add' | translate}} {{'company' | translate}}
        </mat-panel-title>
        <mat-panel-description>
          ...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany(addCompanyForm.value)"
            class="form">
        <mat-form-field>
          <mat-label>{{'company-name' | translate}}</mat-label>
          <input matInput placeholder="{{'add' | translate}} {{'company-name' | translate}}" formControlName="companyName" required>
          <mat-error *ngIf="!addCompanyForm.controls['companyName'].valid
         && addCompanyForm.controls['companyName'].touched">
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'count of' | translate}}</mat-label>
          <input matInput placeholder="{{'add' | translate}} {{'count of' | translate}} {{'transport' | translate}}" formControlName="transportCount" required>
        </mat-form-field>
        <mat-error *ngIf="!addCompanyForm.controls['transportCount'].valid
         && addCompanyForm.controls['transportCount'].touched">
        </mat-error>
        <button mat-button type="submit" [disabled]="!addCompanyForm.valid">{{ 'add' | translate }}</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<div class="container" *ngIf="companies" >
  <div *ngFor="let company of companies" class="container company-container col-lg-4">
    <form *ngIf="editField" #edit>
      <input  matInput type="text" placeholder="Input {{'company' | translate}}">
      <button (click)="save()" class="btn btn-success pull-right" >{{'save' | translate}}</button>
      <input  matInput type="text" placeholder="Input {{'count of ' | translate}}">
    </form>
    <h3 *ngIf="!editField" class="card-text">{{'company' | translate}}: {{company.companyName}}
      <!--<button (click)="showEdit()" class="btn btn-warning pull-right" >{{'edit' | translate}}</button>-->
    </h3>

    <h3 class="card-text">{{'rating' | translate}}: {{company.rating}}
      <button (click)="delete(company.companyName)" class="btn btn-danger pull-right" >{{'delete' | translate}}</button>
    </h3>

    <h3 *ngIf="!editField" class="card-text">{{'count of ' | translate}} {{'transport' | translate}}: {{company.transportCount}}</h3>
  </div>
</div>
