<div class="container">
  <button type="button" class="btn btn-lg btn-primary">{{'all' | translate}} {{'companies' | translate}}</button>
  <mat-form-field appearance="outline">
    <mat-label>{{'search' | translate}}</mat-label>
    <input matInput placeholder="{{'type the login' | translate}}">
  </mat-form-field>
  <button type="button" class="btn btn-lg btn-info">{{'search' | translate}}</button>
</div>
<mat-accordion>
  <mat-expansion-panel class="add-company">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'add' | translate}} {{'company' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        ...
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="addCompanyForm" (ngSubmit)="addCompany(addCompanyForm.value)"
          class="form">
      <mat-form-field>
        <mat-label>{{'company-name' | translate}}</mat-label>
        <input matInput placeholder="{{'add' | translate}} {{'company-name' | translate}}" formControlName="companyName" name="username" required>
        <mat-error *ngIf="!addCompanyForm.controls['companyName'].valid
         && addCompanyForm.controls['companyName'].touched">
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'count of' | translate}}</mat-label>
        <input matInput placeholder="{{'add' | translate}} {{'count of' | translate}} {{'transport' | translate}}" formControlName="transportCount" required>
      </mat-form-field>
      <mat-error *ngIf="!addCompanyForm.controls['transportCount'].valid
         && addCompanyForm.controls['transportCount'].touched">
      </mat-error>
      <button mat-button type="submit" [disabled]="!addCompanyForm.valid">{{ 'add' | translate }}</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
