/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.background{
    background-image: url("https://images.wallpaperscraft.ru/image/pirs_more_gory_bereg_114888_1280x720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}