<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row">
  <!--  It should be in another component called Fillters-->
  <div class="col-3">
    <div class="LeftFilters">


          <form>
            <ul id="myUL">
              <li>
                <table id="baggage">
                  <th>Багаж</th>
                  <tr><input type="checkbox" id="baggage1">
                    <label for="baggage1">Все</label></tr>
                  <tr><input type="checkbox" id="baggage2">
                    <label for="baggage2">Багаж и ручная кладь</label></tr>
                  <tr><input type="checkbox" id="baggage3">
                    <label for="baggage3">Без багажа</label></tr>
                </table>
              </li>
              <li>
                <table id="transfer">
                  <th>Пересадка</th>
                  <tr><input type="checkbox" id="transfer1">
                    <label for="transfer1">Все</label></tr>
                  <tr><input type="checkbox" id="transfer2">
                    <label for="transfer2">1 пересадка</label></tr>
                  <tr><input type="checkbox" id="transfer3">
                    <label for="transfer3">2 пересадки</label></tr>
                </table>
              </li>
            </ul>
            <button type="submit" id="result" class="btn btn-success">Применить</button>
            <script>
                $( "#result" ).submit(function( event ) {

                    // Stop form from submitting normally
                    event.preventDefault();

                    // Get some values from elements on the page:
                    var $form = $( this ),
                        term = $form.find( "input[name='s']" ).val(),
                        url = $form.attr( "action" );

                    // Send the data using post
                    var posting = $.post( url, { s: term } );

                    // Put the results in a div
                    posting.done(function( data ) {
                        var content = $( data ).find( "#content" );
                        $( "#result" ).empty().append( content );
                    });
                });
            </script>
          </form>


    </div>
  </div>

  <!--  It should be in another component called FlightsInformation-->
  <div class="col-8">
    <div *ngFor="let flight of flights" >
      <div class="row FlightsInformation">
        <div class="departure col-6">

          From:
          <p>
            {{flight.departureCity}}
          </p>

          Departure Time:
          <p>
            {{flight.departureTime}}
          </p>
        </div>

        <div class="arrival col-4">
          To:
          <p>
            {{flight.arrivalCity}}
          </p>

          Arrival Time:
          <p>
            {{flight.arrivalTime}}
          </p>
        </div>

        <div class="button_cont">
          <a class="BuyButton" href="/Buy" target="_blank" rel="nofollow noopener">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
